/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header Styles */
header {
    background-color: #4d4d4d;
    padding: 20px 0;
}

.page-title {
    color: #fff;
    font-size: 36px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

/* Banner Styles */
.banner {
    background-image: url('images/los_angeles.JPG');
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h2 {
    color: #fff;
    font-size: 36px;
}