
header {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
}
.page-title {
    background-color: purple;
    color: gray;
    font-size: 200%;
    padding: 5px 8px 5px 50px ;
}
nav{
    display: flex;
    margin-right: 5%;
}
nav ul {
    display: flex;
}

nav ul li a {
    color: purple;
    border-bottom: 5px solid transparent;
    transition: border-bottom-color 0.3s ease;
    margin: 0px 5px 0px 5px;
    
}

.banner {
    background-image: url(images/los_angeles.JPG);
    height: 150px;
    background-size: contain;
    background-position: center;
    position: relative;
}
.subtitle {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: purple;
    color: gray;
    padding: 10px;
    width: 40%; /* Adjust width as needed */
    max-width: 300px; /* Limit max-width for smaller screens */
    height: auto; /* Adjust height automatically */
    text-align: center;
}

.about-content {
    background-color: #f9f9f9; /* Light gray background */
    border: 2px solid #ddd; /* Gray border */
    padding: 20px; /* Add padding for content */
    border-radius: 5px; /* Rounded corners */
}

.about-content img {
    width: 150px; /* Adjust the width of the profile picture */
    height: auto;
    border-radius: 5px; 
    margin-bottom: 10px;
    margin-right: 20px; /* Add some spacing between the picture and the text */
}

.content p {
    font-size: 16px; /* Adjust font size */
    line-height: 1.6; /* Adjust line height for better readability */
    color: #333; /* Darker text color */
}

.subtitle h2 {
    background-color: purple;
    font-size: 120%;
    color: gray;
    text-align: center;
    padding: 10px;
}
.side-title {
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  
}

.side-title h1 {
    width: 300px;
    font-size: 36px;
    color: palevioletred;

}


.section-divider {
    width: 70%;
    height: 10px;
    background-color: purple; /* Line color */
    margin: 0 auto; /* Center the divider horizontally */
    margin-top: 50px; /* Adjust top margin as needed */
    margin-bottom: 20px; /* Adjust bottom margin as needed */
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-left: 50px ;
   
}


#card-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: calc(50% - 40px);
    height: 200px;
    margin: 20px;
    background-color: #f9f9f9;
    border: 3px solid #db7093;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease; /* Add transition effect for opacity */
    opacity: 0.7; /* Set initial opacity */
}
.card:hover img {
    opacity: 1; /* Change opacity on hover */
}

.card-title {
    background-color: #db7093;
    color: #fff;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.card-title h3 {
    margin: 5px 0;
    font-size: 20px;
}

.card-title p {
    margin: 0;
}

.bigger-card {
    width: calc(100% - 20px); /* Width of the container minus margins */
    height: 400px; /* Adjust height as needed */
    margin-right: 10px;
    margin-bottom: 10px;
}


.contact-list {
  display: flex;  
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card-title p {
    margin: 0;
}

.contact-list {
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  .contact-list li {
      margin-top: 20px;
      margin-right: 120px;
      margin-left: 20px;
  }
  
  .contact-list a {
     text-decoration: none;
     color: black;
     border-bottom: 3px solid palevioletred;
     padding: 0px 3px 3px 3px;
  }