
header {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
}
.page-title {
    background-color: purple;
    color: gray;
    font-size: 200%;
    padding: 5px 8px 5px 50px ;
}
nav{
    display: flex;
    margin-right: 5%;
}
nav ul {
    display: flex;
}

nav ul li a {
    color: purple;
    text-decoration-thickness: 3px;
    margin: 0px 5px 0px 5px;
    
}

.banner {
    background-image: url(images/los_angeles.JPG);
    height: 150px;
    background-size: contain;
    position: relative;
}
.subtitle {
    position: absolute;
    top: 80px;
    left: 950px;

}
.subtitle h2 {
    background-color: purple;
    font-size: 120%;
    color: gray;
    text-align: center;
    padding: 10px;
}
.side-title {
    border-right: 3px solid palevioletred;
    padding: 10px 10px 10px 75px;
    text-align: end;
}

.side-title h1 {
    width: 120px;
    font-size: 30px;
    color: palevioletred;
}

.sections-class {
    display: flex;
    margin-top: 25px;

}

.container {
    padding: 10px 80px 10px 20px;
    display: flex;
}

#card-holder {
    display: flex;
    flex-wrap: wrap;
}

.card:first-child {
    width: 1000px;
    height: 400px;
    margin: 10px;
}

.card {
    background-image: url(images/los_angeles.JPG);
    opacity: 0.2;
    width: 490px;
    height: 200px;
    margin: 10px;
    border: 3px solid purple;
    position: relative;
}

.card:hover {
    opacity: 1;
}

.card-title {
    position: absolute;
    top: 80%;
    background-color: purple;
    padding: 10px 10px 10px 15px;
}

.contact-list {
  display: flex;  
  flex-direction: row;
  flex-wrap: wrap;
}

.contact-list li {
    margin-top: 20px;
    margin-right: 120px;
    margin-left: 20px;
}

.contact-list a {
   text-decoration: none;
   color: black;
   border-bottom: 3px solid palevioletred;
   padding: 0px 3px 3px 3px;
}
